# this is a direnv file https://direnv.net/
# automagically load the build/test/run environment shell from our flake.nix
# combine with https://github.com/direnv/direnv.vim, vim will load the environment shell defined in the flake.nix, providing access to cargo, rust-analyze, rust fmt, etc
# note that if you already have a vim autosession for this directory, you may have to run `:Autosession delete` on it to get direnv autoloading to work properly
use flake
